<!DOCTYPE html>
<html lang="es" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Vocacional</title>
</head>

<body style="height: 100%; width: 600px; margin: auto; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4;">
    <table style="height: 90%; width: 600px; margin: auto; border-collapse: collapse; background-color: #fff; border: 1px solid #ddd; margin-top: 10px;">
        <tr>
            <td style="width: 20%; text-align: center; padding: 20px;">
                <img src="https://universidadesdemexico.mx/logos/original/logo-universidad-del-sur.webp" alt="Logotipo UniSur" style="width: 100%;">
            </td>
            <td style="width: 80%; text-align: right; padding: 20px;">
                <h1 style="margin: 0; font-size: 1.5em; color: #333;">Gracias {{nombre}}, has completado tu test vocacional con UniSur</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 20px; text-align: center;">
                <h3 style="margin: 0; font-size: 1.2em; color: #333;">Tu área de mayor interés es:</h3>
                <h2 style="margin: 0; font-size: 2.5em; color: #007bff;">{{area}}</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 20px;">
                <p style="margin: 0; font-size: 1em; color: #333;">Según nuestro análisis, tienes un interés del {{interes}}.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 20px; text-align: center;">
                <img src="{{urlImagen}}" alt="Grafica de resultados" style="display: block; margin: 0 auto;">
            </td>
        </tr>
        
        <tr>
            <td colspan="2" style="padding: 20px;">
                <ul style="margin: 0; padding-left: 20px; font-size: 1em; color: #333;">
                    {{carreras}}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 20px; text-align: center;">
                <a href="{{resultados}}" style="display: inline-block; padding: 10px 20px; font-size: 1em; color: #fff; background-color: #007bff; text-decoration: none; border-radius: 5px;">Quiero ver mis resultados completos</a>
            </td>
        </tr>
    </table>
    <footer style="margin-top: 20px; text-align: center; font-size: 0.8em; color: #888;">
        <p>Universidad del Sur | Todos los derechos reservados</p>
    </footer>
</body>

</html>